fastapi
uvicorn[standard]
python-multipart
aiofiles
numpy
torch
torchvision
torchaudio
librosa
imageio-ffmpeg
opencv-python
Pillow
ultralytics
mediapipe==0.10.14
protobuf==4.25.8
pymongo
python-dotenv
tensorflow-cpu>=2.16,<2.18
tensorflow-hub>=0.16.1
